@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
#redh1 {
    color: red;
}

.man > strong{
    color: green;
}

#login_wrap {
    border-style: solid;
    border-width: thin;
    border-color: #000000;
    padding-top: 10px;
    padding-bottom: 35%;
}

#login_inputs{
    float: left;
    margin-left: 3%;
    margin-right: 3%;
}

input {
    padding: 5px;
}

textarea{
	padding: 5px;
}

#login_button{
    float: right;
    margin-left: 3%;
    margin-right: 3%;
}

.header{
    border-style: dashed;
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container{
    border-style: dashed;
    width: 70%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

footer{
    border-style: dashed;
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(200,9,9,0.6);
    clear: both;
}

.layout-left{
/*    border-style: dashed;*/
    float: left;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 70%;
    height: 600px;
    background-color: rgba(99,99,99,0.6);
}

.layout-right{
/*    border-style: dashed;*/
    float: right;
/*    margin-right: 3px;*/
    width: 30%;
    height: 600px;
    background-color: rgba(9,99,99,0.7);
}

body{
/*
    
    background-image: url("http://img3.wikia.nocookie.net/__cb20110304010556/jjba/images/8/8a/Sbr-logo-transfer.jpg" );
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
*/
/*    width: auto;*/
/*    height: 600px;*/
    margin-left: 10%;
    margin-right: 10%;
    width: 1024px;
    height: auto;
    border-color: #235043;
/*    padding: 15px;*/
    font-size: 12px;
}

#box1{
    border-color: gray;
    
/*    margin: 30px;*/
    margin-bottom: auto;
/*    padding: 15px;*/
    background-color: rgba(99,99,99,0.88);
    text-align: center;
}

#box2{
/*    border-color: red;*/
/*    margin: 30px;*/
/*    margin-top: 5px;*/
/*    padding: 15px;*/
    background-color: rgba(9,99,99,0.88);
/*    font-size: 1.5em;*/
}

*.h2{
    color: blue;
    
    background-color: rgba(255,100,100,0.9);
    padding: 6px;
    font-size: 1.8em;
    margin: auto;
}